body {
    font-family: 'Arial', sans-serif;
    color: black;
    line-height: 1.6;
    padding-top: 50px;
}
::-webkit-scrollbar{
    display: none;
}
/* Styling untuk navbar */
.fullscreen-nav.show {
    transform: translateY(0); 
}



/* Styling untuk header */
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-attachment: fixed; 
    overflow: hidden;
}

.hero h1 {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    animation: fadeInDown 2s ease;
}
/* .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.headline h1 {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    animation: fadeInDown 2s ease;
} */

/* Video fullscreen */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    overflow: visible;
    max-width: 1000px;
    z-index: 1; 
   
}
.headline {
    font-size: 4.5rem; /* Ukuran besar untuk desktop */
    font-weight: 800; /* Supaya lebih tebal */
    text-transform: uppercase; /* Biar huruf kapital semua */
    letter-spacing: 2px; /* Memberikan sedikit jarak antar huruf */
    color: white; /* Warna hitam pekat */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Efek bayangan biar lebih standout */
    white-space: nowrap;
    align-items: center;
}
/* SOLO RELEASE */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.album-section {
    flex-direction: row;
    background: linear-gradient(to bottom, #000000, #212020dc);
    color: #fff;
    text-align: center;
    padding: 30px 20px;
}

.album-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.album-header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #b3b3b3;
}

.album-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    align-items: stretch; 
    width: fit-content;
    animation:  scroll 75s linear infinite;
}
.album-container:hover {
    animation-play-state: paused;
}
.album-container::-webkit-scrollbar {
    display: none;
}
.album-card {
    background: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 250px; 
    min-width: 250px; 
    max-width: 250px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.album-card:hover {
    transform: scale(1.05);
}

.album-cover {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.album-cover img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.icon-cassette {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #000; 
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 
                 0 0 30px rgba(255, 255, 255, 0.6); 
    animation: spin 4s linear infinite;
    opacity: 0.9;
    z-index: 1100;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.album-info {
    padding: 20px;
    text-align: left;
}

.album-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.album-info p {
    font-size: 1rem;
    color: #b3b3b3;
}
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/* ===== GALLERY BLACKPINK ==== */

.gallery-section {
    padding: 50px 0;
}

.gallery-title {
    padding: 50px;
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.gallery-item {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease-in-out;
}

.gallery-item.show {
    opacity: 1;
    transform: translateY(0);
}

.img-fluid {
    justify-content: center;
    margin-bottom: 50%;
    width: 100%;
    height: 400px;
    border-radius: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    object-fit: fill;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.2s ease;
    display: block;
    margin: auto;
}
.img-fluid:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

}


/* ====== FOOTER SECTION ======= */
.footer-section {
    background: black;
    color: white;
    text-align: center;
}
.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    display: block;
    margin-bottom: 10px;
}
.footer-link:hover {
    color: grey;
    filter: brightness(white);
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-icon {
    color: white;
    font-size: 2rem;
    transition: transform 0.3s, color 0.3s;
}
.social-icon:hover {
    transform: scale(1.2);
    color: lightgray;
}






















/* ======== MEDIA QUERIES 480PX ======= */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
        padding: 10px;
        width: 80;
    }
    
    .album-card {
        flex: 0 0 200px;
        min-width: 200px;
        max-width: 200px;
    }

}

/*  ======== MEDIE QUERIES 768PX ============ */
@media (max-width: 768px) {
    .hero-content {
        font-size: 2rem; 
        padding: 10px;
    }
    
    #background-video {
        height: 100%; 
    }
    /* .navbar-custom {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    }
    
     .fullscreen { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: absolute;
    }
    
    .fullscreen-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        font-size: 50px;
        background: black; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transform: translateY(-100vh); 
        z-index: 1000;
    }
   
    
    
     Tombol Toggle 
    .navbar-toggler {
        cursor: pointer;
        z-index: 1100;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .icon-bar {
        width: 30px;
        height: 4px;
        background: white;
        transition: 0.4s;
    }
    
     Animasi jadi X pas menu dibuka 
    .navbar-toggler.active .icon-bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .navbar-toggler.active .icon-bar:nth-child(2) {
        opacity: 0;
    }
    
    .navbar-toggler.active .icon-bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    } */
    /* #customNavbar {
        background-color: black !important;
    }
    navbar {
        background-color: #000 !important;
    } */
    #navbar-costum{
        background-color: #000 !important;
        color: white !important;
     }
    .navbar {
        font-weight: 500;
        color: white;
        background-color: #000 !important;
    }
    .navbar-brand, .nav-link {
        color: white !important;
        font-size: 20px;
        font-weight: 600;
        transition: 0.3s;
    }
    .nav-link:hover {
        text-decoration: underline;
        color: palevioletred !important;
    }
    /* Navbar collapse di mobile */
    .navbar-toggler {
        border: #fff 2px !important;
    }
    .navbar-toggler:focus {

        box-shadow:  1%;
        border-radius: 2% !important;
    }


    .album-card {
        flex: 0 0 200px;
        min-width: 200px;
        max-width: 200px;
    }
    .footer-section {
        background-color: gray !important;
        color: white;
    }
    

}






/* ========== MEDIA QUERIES 991PX ========== */
@media (max-width: 991px) { 
    .hero-content {
        font-size: 2rem; 
        padding: 10px;
    }
    
    #background-video {
        height: 100vh; 
    }
    /* .navbar-custom {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    }
    
     .fullscreen { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: absolute;
    }
    
    .fullscreen-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        font-size: 50px;
        background: black; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transform: translateY(-100vh); 
        z-index: 1000;
    }
   
    
    
     Tombol Toggle 
    .navbar-toggler {
        cursor: pointer;
        z-index: 1100;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .icon-bar {
        width: 30px;
        height: 4px;
        background: white;
        transition: 0.4s;
    }
    
    /* Animasi jadi X pas menu dibuka 
    .navbar-toggler.active .icon-bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .navbar-toggler.active .icon-bar:nth-child(2) {
        opacity: 0;
    }
    
    .navbar-toggler.active .icon-bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    } */
    #navbar-costum{
        background-color: #000 !important;
        color: white !important;
     }
    .navbar {
        font-weight: 500;
        color: white;
        background-color: #000 !important;
    }
    .navbar-brand, .nav-link {
        color: white !important;
        font-size: 20px;
        font-weight: 600;
        transition: 0.3s;
    }
    .nav-link:hover {
        text-decoration: underline;
        color: palevioletred !important;
    }
    /* Navbar collapse di mobile */
    .navbar-toggler {
        border: #fff 2px !important;
    }
    .navbar-toggler:focus {

        box-shadow:  1%;
        border-radius: 2% !important;
    }


    .album-card {
        flex: 0 0 200px;
        min-width: 200px;
        max-width: 200px;
    }    

}


















